In [5]:
def display_table():
    students = [
        ("Evelyn", 17, 5.5, 80), ("Jessica", 16, 6.0, 85), ("Somto", 17, 5.4, 70),
        ("Edith", 18, 5.9, 60), ("Liza", 16, 5.6, 76), ("Madonna", 18, 5.5, 87),
        ("Waje", 17, 5.6, 95), ("Tola", 20, 6.1, 50), ("Aisha", 19, 6.0, 49), ("Latifa", 17, 5.7, 49),
        ("Chinedu", 19, 5.7, 74), ("Liam", 16, 5.9, 87), ("Wale", 18, 5.8, 75),
        ("Gbenga", 17, 6.1, 68), ("Abiola", 20, 5.9, 66), ("Kola", 19, 5.5, 78),
        ("Kunle", 16, 5.6, 87), ("George", 18, 5.1, 98), ("Thomas", 17, 5.4, 54), ("Wesley", 19, 5.8, 60)
    ]
    
    print("{:<10} {:<5} {:<7} {:<5}".format("Name", "Age", "Height", "Score"))
    print("-" * 35)
    for student in students:
        print("{:<10} {:<5} {:<7} {:<5}".format(student[0], student[1], student[2], student[3]))

display_table()

Name       Age   Height  Score
-----------------------------------
Evelyn     17    5.5     80
Jessica    16    6.0     85
Somto      17    5.4     70
Edith      18    5.9     60
Liza       16    5.6     76
Madonna    18    5.5     87
Waje       17    5.6     95
Tola       20    6.1     50
Aisha      19    6.0     49
Latifa     17    5.7     49
Chinedu    19    5.7     74
Liam       16    5.9     87
Wale       18    5.8     75
Gbenga     17    6.1     68
Abiola     20    5.9     66
Kola       19    5.5     78
Kunle      16    5.6     87
George     18    5.1     98
Thomas     17    5.4     54
Wesley     19    5.8     60